
body {
    display: flex;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.form-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    min-height: 100%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;

}

.calltoaction  {
    margin-top: -15%;
    min-height: 15%;
    min-width: 95%;
    display: flex;
    align-items: center;
    padding-left: 5%;

}

.form-box {
    background-color: whitesmoke;
    min-height: 30%;
    min-width: 95%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 60%;
}

.formrow {
    display: flex;
    padding: 20px;
}

.formrow > div {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.submit {
    
}

.logodiv {
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1.5;
    min-height: 100%;
    background-color: green;
    align-items: center;
}

.logo {
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 45%;
    display: flex;
    min-width: 100%;
    min-height: 10%

}